
<%- include("partials/header.ejs"); %> 

<h1>Home</h1>

<% contents_array.forEach(function (Eachcontent){ %>
  <h2><%= Eachcontent.title %> </h2>
  <p><%= Eachcontent.content.substring(0,200) %>... <a href="/posts/<%= Eachcontent.title%>">Read More</a></p>
<%}); %> 
 

<%- include("partials/footer.ejs"); %> 
