<%- include("header"); %> 
<body>

    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>

    <div class="box">        
          
        <%  newItemList.forEach((element)=>{ %>
            <div class="item">
                <input type="checkbox">
                <p><%= element.name %></p>
            </div> 
        <% }); %> 

    
        
            
            <form class="item" action="<%= postTo %> " method="post">
                <input type="text" name="newitem" placeholder="New item" autocomplete="off">
                <button type="submit" name="button">+</button>
            </form>
    </div>

    

  
<%- include("footer"); %> 

</body>
</html>